.heroSection {
  height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
}

.heroImageSection {
  min-width: 50%;
  align-items: center;
  @mixin dark {
    background-color: var(--mantine-color-gray-9);
  }
  @mixin light {
    background-color: var(--mantine-color-gray-1);
  }
}

.heroSignature {
  margin-left: auto;
  transform: rotateZ(-10deg);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.heroDescSection {
  @mixin dark {
    background-color: var(--mantine-color-gray-filled);
  }
  @mixin light {
    background-color: var(--mantine-color-gray-4);
  }
}
