.show {
  display: block;
}

.hide {
  display: none;
}

.pointerEventsNone {
  pointer-events: none;
}

.cursorPointer {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.marginAuto {
  margin: auto;
}

.forceWrapText {
  overflow-wrap: break-word;
  word-break: break-all;
}

.highlightText {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-green-filled),
    var(--mantine-color-red-filled)
  );
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlightText2 {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-red-filled),
    var(--mantine-color-blue-filled),
    var(--mantine-color-green-filled)
  );
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boldText {
  font-weight: 700;
}

.relative {
  position: relative;
}

.noTapHighlight {
  -webkit-tap-highlight-color: transparent;
}

.title {
  text-align: center;
  margin-bottom: var(--mantine-spacing-md);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.3em;
  text-decoration-skip-ink: none;
}

.card {
  position: relative;
  padding: var(--mantine-spacing-xs);
  transition: border-color 150ms ease;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.cardLabel {
  font-family: var(--mantine-font-family-monospace);
  font-weight: bold;
  font-size: var(--mantine-font-size-md);
  line-height: 1.3;
  color: var(--mantine-color-bright);
  width: 300px;
}

.cardDescription {
  margin-top: 8px;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}
