.show {
  display: block;
}

.hide {
  display: none;
}

.pointerEventsNone {
  pointer-events: none;
}

.fullWidth {
  width: 100%;
}

.marginAuto {
  margin: auto;
}

.forceWrapText {
  overflow-wrap: break-word;
  word-break: break-all;
}
