.show {
  display: block;
}

.hide {
  display: none;
}

.pointerEventsNone {
  pointer-events: none;
}

.cursorPointer {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.marginAuto {
  margin: auto;
}

.forceWrapText {
  overflow-wrap: break-word;
  word-break: break-all;
}

.highlightText {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-green-filled),
    var(--mantine-color-red-filled)
  );
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlightText2 {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-red-filled),
    var(--mantine-color-blue-filled),
    var(--mantine-color-green-filled)
  );
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boldText {
  font-weight: 700;
}

.noHighlightColor {
  -webkit-tap-highlight-color: transparent;
}
