.headerGroup {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.websiteName {
  cursor: pointer;
}

.mobileNavBar {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-dark-filled),
      var(--mantine-color-white-filled)
    );
  }
}

.mobileNavBarActive {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );

  @mixin hover {
    filter: brightness(90%);
  }
}
