.headerGroup {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.websiteName {
  cursor: pointer;
}

.mobileNavBar {
  position: relative;
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  transition: background-color 0.2s ease, filter 0.2s ease;
  cursor: pointer;
}

/* Animated underline for non-active items */
.mobileNavBar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px; /* Adjust as needed */
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.mobileNavBar:hover::after {
  transform: scaleX(1);
}

/* Hover background color for non-active items */
.mobileNavBar:hover {
  background-color: var(--mantine-color-dark-filled);
}

@media (prefers-color-scheme: dark) {
  .mobileNavBar:hover {
    background-color: var(--mantine-color-white-filled);
  }
}

/* Active nav item */
.mobileNavBarActive {
  background-color: var(--mantine-color-gray-0);
}

/* Disable underline for active items */
.mobileNavBarActive::after {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .mobileNavBarActive {
    background-color: var(--mantine-color-dark-6);
  }
}

.mobileNavBarActive:hover {
  filter: brightness(90%);
}
