.storyImage {
  height: auto;
  max-height: 300px;
  width: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: 6px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.storyImageZoneSection {
  position: relative;
  min-height: 100px;
  overflow: hidden;
}

.storyImageFieldToggle {
  position: absolute;
  z-index: 20;
  right: 5px;
  top: 5px;
}

.storyImageFieldBox {
  margin: 10px;
}

.storyBadgeTime {
  position: absolute;
  bottom: 5%;
  left: 10px;
}

.storyCard {
  position: relative;
}

.storyTitle {
  text-transform: capitalize;
}

.storySubtitle::first-letter {
  text-transform: capitalize;
}

.storyContent {
  height: 50dvh;
  max-height: 100dvh;
}
